.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #ddd;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;

    transform: translateX(-100%);
    background: #fff;
    box-shadow: 0 -3px 13px -4px #0000000d, 0 8px 9px -5px #0000000d;

    transition: all 0.3s;
  }

  .sidebar-show {
    transform: translateX(0%);
  }

  .outlet {
    left: 0%;
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .sidebar {
    width: 300px;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
  }

  .outlet {
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
  }
}
